body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightblue;
  }
  
  #root {
    background-color: lightblue;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('./components/fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  